.content{
    --background: #f5f1f1 url('../../assets/login1.jpg') no-repeat left center/cover; 
    --ion-background-color: transparent;
   
    

}
.card{
   
    
    margin-top: 25%;
    align-content: center;
    width: 80%;
    margin-left:10%;
}
.User{
    border-bottom :1px solid rgb(8, 8, 8);
    --padding-start:7px;
    background: transparent;
    color: black;
    margin-bottom: 10px;
}
.button {
    width: 100%;
    padding: 0px;
    
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
 
  

