.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    /* color: #fef9f9; */
    padding: 20px;
    text-align: center;
}

/* Dashboard.css */

.dashboard {
    font-size: 24px;
    font-weight: bold;
  }
  
  .welcome-card {
   
    color: #060606;
    margin: 16px;
  }
  
  .welcome-card ion-card-header {
    padding: 16px;
  }
  
  .welcome-card ion-card-subtitle {
    color: #0a0a0a;
  }
  
  .welcome-card ion-card-title {
    color: #080808;
    font-size: 28px;
    font-weight: bold;
  }
  
  .welcome-card ion-card-content {
    padding: 16px;
  }
  
  .card-pink {
    background-color: var(--ion-color-primary);
    color: #ffffff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-pink-2 {
    background-color: var(--ion-color-primary);
    color: #ffffff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-pink ion-card-header {
    padding: 16px;
  }
  
  .card-pink-2 ion-card-header {
    padding: 16px;
  }
  
  .card-pink ion-card-title,
  .card-pink-2 ion-card-title {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
  }
  
  .card-pink ion-card-header,
  .card-pink-2 ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .card-pink ion-card-title,
  .card-pink-2 ion-card-title {
    text-align: center;
  }
  
  .card-pink ion-card-content,
  .card-pink-2 ion-card-content {
    padding: 16px;
  }
  .resources-card {
    --ion-background-color: #ffff;
  }
.resources-card ion-item,
.resources-card ion-label {
  color: #040404;

  font-family: 'YourCustomFont', sans-serif;
}