<ion-header>
  <ion-toolbar>
    <ion-title>List Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list *ngFor="let formData of formDataList">
      <p>Name :{{ formData.name }}</p>
      <p>Father Name :{{ formData.father }}</p>
      <p>Age :{{ formData.age }}</p>
      <p>Mobile number :{{ formData.phone }}</p>
      <p>school :{{ formData.school }}</p>
      <p>dental :{{ formData.dental }}</p>
      <p>visual :{{ formData.visual }}</p>
      <p>height :{{ formData.height }}</p>
      <p>palmPaler :{{ formData.palmPaler }}</p>
      <p>earWax :{{ formData.earWax }}</p>
      <p>weight :{{ formData.weight }}</p>
    </ion-list>
  </ion-list>
  <ion-button (click)="createCSV()" >Download file</ion-button>
</ion-content>