<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div id="container">
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Enter your name</ion-label>
        <ion-input [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Enter your password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>

      <!-- Button -->
      <ion-button expand="full" type="Submit">Submit</ion-button>
    </form>
  </div>
  
</ion-content>
