<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Father Name</ion-label>
      <ion-input [(ngModel)]="father"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile number</ion-label>
      <ion-input [(ngModel)]="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">School Name</ion-label>
      <ion-input [(ngModel)]="school"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input [(ngModel)]="age"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Weight</ion-label>
      <ion-input [(ngModel)]="weight"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Height</ion-label>
      <ion-input [(ngModel)]="height"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Visual</ion-label>
      <ion-input [(ngModel)]="visual"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Dental</ion-label>
      <ion-input [(ngModel)]="dental"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Palm Paler</ion-label>
      <ion-input [(ngModel)]="palmPaler"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ear Wax</ion-label>
      <ion-input [(ngModel)]="earWax"></ion-input>
    </ion-item>

    <!-- Button -->
    <ion-button expand="full" (click)="submitForm()">Submit</ion-button>
  </div>
</ion-content>